* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a8a2a2;
}
nav.navbar {
  align-content: center;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
  padding: 0px 20px; /* REMOVED TOP PADDING */

  flex-wrap: nowrap;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}

.fa-icon {
  color: #aaa6a6;
  font-size: x-large;
}
.header__left > img {
  height: 40px;
}
.header__left {
  display: flex;
  align-items: center;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  padding-left: 10px;
}

.header__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  cursor: pointer;
  height: 60px;

  border-bottom: 1px solid #f8f9fa; /* the fake border */
  border-bottom-width: 3px; /* fake border width */
}

/*modified css */

.header__center__option {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  height: 60px;
}

.header__center__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  padding: 0 2vw;
  height: 60px;

  margin-right: 8px;
  box-shadow: inset 0 3px #f8f9fa, inset 0 -3px #f8f9fa;
}

.header__center__item.active,
.header__center__item.active:hover {
  color: #1877f2;
  /* border-bottom: 1px solid #1877f2;
  border-bottom-width: 3px; */
  background-color: #f8f9fa;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header__center__item:hover {
  background-color: #e9ebef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header_option-link {
  flex-direction: column;
  height: 52px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: gray;
}
.header__center__item.active > .header_option-link > i {
  color: #1877f2;
}

.header_option-link:hover {
  color: gray;
}
.header__center__item.active {
  color: #1877f2;
  border-bottom: 1px solid #1877f2;
  border-bottom-width: 3px;
  background-color: #f8f9fa;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  right: 2px;
  left: 2px;
}

.header__info {
  display: flex;
  align-items: center;
  padding-right: 12px;
  margin-right: 8px;

  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  padding-left: 12px;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.header__info__name {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #050505;
  margin-top: -4px;
  margin-bottom: -4px;
  line-height: 1.3333;
}
.header__right {
  display: flex;
}
.header__info > span {
  margin-left: 10px;
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #e4e6eb;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
.header__info img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: -8px;
}

.header__info:hover {
  background-color: #e4e6eb;
}

/* .header__center__option li.active-tab {
  border-bottom: 3px solid #1877f2;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  content: " ";
  position: absolute;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0px;
} */

.header__option {
  position: relative;
}
.search__header__card {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 100vw;
  height: 60px;
  width: 320px;
}
.search__header__card__input {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  align-items: center;
}

.search__box {
  width: 100%;
  border: 0;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-left: 8px;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  flex-grow: 1;
}

.header__close {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e6eb;
  cursor: pointer;
}
